<table class='table table-striped'>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Mac Id</th>
      <th>Ip</th>
      <th>Actions</th>
    </tr>
  </thead>
 <!--  <tbody>
    <%# @devices.each do |device| %>
      <tr>
        <td><%#= device.try(:name) %></td>
        <td><%#= device.mac_id %></td>
        <td><%#= device.try(:ip) %></td>
        <td>
          <%#= link_to 'Sessions', sessions_path(device_id: device.id), title: 'Show Sessions' %>
        </td>
      </tr>
    <%# end %>
  </tbody> -->
</table>