 <div id="sidebar-wrapper">
  <nav id="spy">
    <ul class="sidebar-nav nav"  style="font-size: 18px;margin-top: 20px">
      <li class="sidebar-brand">
      <!-- <i class="fas fa-home"></i> <i class="fas fa-desktop"></i> -->
          <%= link_to(' Home', root_path, class: "nav-link fas fa-home")  %>
      </li>
      <li>
        <%= link_to ' Sessions', training_sessions_path, class: 'fas fa-desktop' %>
      </li>
    </ul>
  </nav>
</div>